R1. Functional – Upon the registration of an artist's profile, the Online Gallery System shall allow said artist to edit this profile at any time. 
R2. Functional – Upon the creation of a customer's order, the Online Gallery System shall allow said customer to cancel this order in less than 10 minutes at any time.
R3. Functional – On the last working day of each month, a summary of the number of art pieces sold, their costs, and the most visited artists shall be generated in less than 6 minutes by the Online Gallery System.
R4. Non-Functional (Reliability) – The Online Gallery System shall be unavailable no more than once a month. 
